# Introduction to Python - Session 1
1. Programming and Python
    - What is Python?
    - What are Jupyter Notebooks?
    - Paths and directories
    - Creating a python script/notebook
2. Basics of Python: objects, syntax, functions
3. Data types
    - Numbers
    - Lists
    - Strings
    - Dictionaries

SLIDES [HERE](https://docs.google.com/presentation/d/1OHdfw7pi4ntcolRgFoeL1c8y9vxH20EqNgJKZhvMxpo/export/pdf)

**Getting help**
The built-in function help() will show you interactive documentation about most Python objects.

In [66]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## EXERCISE 1 - Getting started
Exercises are explained in this notebook. Use the cells below each question to write and run your own answers. Remember, you can add text cells as you wish and use # for commenting the code.

In [1]:
# This is a comment
print("Hello world")

Hello world

**1. Get familiar with the notebook environment. What is the working directory?**

**2. Using Python, calculate the percentage of males and females currently present in the training.**

**3. Create a new object `myobject` with value 60. Print `myobject` in the console.**

**4. Reassign `myobject` with value 87.**

**5. Subtract 1 to `myobject` and reassign.**

## EXERCISE 2 - Data types: strings

**1. Create the string `mystring` with value "Hello world!", and print it.**

**2. Print "This is my string: Hello world!".**

**3. How long is the string?**

**4. Get only the word "world" from `mystring` using numeric indexes.**

**5. Split `mystring` word by word. Use the method `split`. Then `join` the words with slashes.**

**6. Print `mystring` in upper case. Use the method `upper`.**

## EXERCISE 3 - Data types: numbers

**1. Create three variables `a`, `b`, and `c` with values 2, 5 and 3 respectively.**

**2. Is `a` greater or equal than `c`. And `b`?**

**3. Try `(a+c)*5`. Assign it to `d`.**

**4. Try b\*\*a. Is it the same as `d`? Use either `==` or `is` for comparison.**

**5. What is `d` divided by `a`? If not exact, what is the remainder?**

## EXERCISE 4 - Data types: lists

**1. Create a list `y` which contains the numbers from 2 to 11, both included. 
Print `y` in the console.**

**2. How many elements are in `y`? I.e what is the length of the list `y`?**

**3. Show the 2nd element of `y`. Remember that Python uses 0-based indexing.**

**3. Show from 5th to 7th element of `y`.**

**4. Show the last element of `y`.**

**5. Remove the 4th element of `y` and reassign. Use the methods `pop`and `remove`. What is now the length of `y`?**

**6. What are the minimum, maximum and sum of values in `y`?**

**7. Check whether 1 and 9 are present in `y` list. Use the `in` operator.**

**8. Create a list `x=[1,2,3,1,2,3,1,2,3]`, but expressed as a repetion of `[1,2,3]`. Use `*`.**

**9. Add an additional element `15` in the list `x`. Use `append`.**

**10. Add four additional elements `[45,72,4,6]` in the list `x`. Use `extend`.**

**11. Order the elements of `x` using the method `sort`.**

**12. Remove duplicated numbers in the list using the function `set`.**

Sets are like lists, but are unordered, unchangeable, and unindexed. As such, they cannot contain duplicated items.

**13. Find the items in common between the previous list and this one: `[5, 3, 7, 4, 10, 11, 12, 72]`. Use `set.intersection()`.**

**14. Given the protein sequence "MPISEPTFFEIF", split the sequence into its component amino acid codes and count how many phenilalanines (F) are there.**

## EXERCISE 6 - Data types: dictionaries

**1. Create a dictionary `mydict` that matches the one letter amino acid code `A`, `C`, `D` and `E` to the three letter codes `Ala`, `Cys`, `Asp`, `Glu`.**

**2. Print the keys and values of the dictionary. Use the methods `values` and `keys`. Print the three letter code of `C`.**

**3. Add phenilalanine to `mydict`.**

**4. Add a fake amino acid `A` that matches to `Fake` value. Print `mydict`.**