# Introduction to Python - Session 1
1. Programming and Python
    - What is Python?
    - What are Jupyter Notebooks?
    - Paths and directories
    - Creating a python script/notebook
2. Basics of Python: objects, syntax, functions
3. Data types
    - Numbers
    - Lists
    - Strings
    - Dictionaries

SLIDES [HERE](https://docs.google.com/presentation/d/1OHdfw7pi4ntcolRgFoeL1c8y9vxH20EqNgJKZhvMxpo/export/pdf)

**Getting help**
The built-in function help() will show you interactive documentation about most Python objects.

In [66]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## EXERCISE 1 - Getting started
Exercises are explained in this notebook. Use the cells below each question to write and run your own answers. Remember, you can add text cells as you wish and use # for commenting the code.

In [1]:
# This is a comment
print("Hello world")

Hello world

**1. Get familiar with the notebook environment. What is the working directory?**

The working directory is the place where this "Session1.ipynb" is located. For example, at the CRG, it might be "users/[group]/[user]/Python_Course/Session1". Or, using the abbreviation of ~ for the home directory, we could also express it as "~/Python_Course/Session1".

**2. Using Python, calculate the percentage of males and females currently present in the training.**

In [6]:
# 6 males out of 19 students:
print((6/19) * 100)

# 13 females out of 19 students:
print((13/19) * 100)

31.57894736842105
68.42105263157895

**3. Create a new object `myobject` with value 60. Print `myobject` in the console.**

In [7]:
myobject = 60
print(myobject)

60

**4. Reassign `myobject` with value 87.**

In [14]:
myobject = 87
print(myobject)

87

**5. Subtract 1 to `myobject` and reassign.**

In [15]:
# Option 1
myobject = myobject - 1
# Option 2 (use += and -= to reassign an object directly after adding/subtracting)
myobject -= 1

## EXERCISE 2 - Data types: strings

**1. Create the string `mystring` with value "Hello world!", and print it.**

In [8]:
mystring = "Hello world!"
print(mystring)

Hello world!

**2. Print "This is my string: Hello world!".**

In [76]:
print("This is my string: %s" % (mystring))

This is my string: Hello world!

**3. How long is the string?**

In [78]:
len(mystring)

12

**4. Get only the word "world" from `mystring` using numeric indexes.**

In [80]:
mystring[6:11]

'world'

**5. Split `mystring` word by word. Use the method `split`. Then `join` the words with slashes.**

In [11]:
splitted = mystring.split(" ")
"-".join(splitted)

'Hello-world!'

**6. Print `mystring` in upper case. Use the method `upper`.**

In [95]:
mystring.upper()

'HELLO WORLD!'

**7. Write a Python program that finds the position of the first cytosine (C) in the sequence "ATGTCACCGTTT".**

In [7]:
sequence = "ATGTCACCGTTT"
firstC = sequence.find("C")
print("The first cytosine is in position %i" % (firstC + 1)) # Remember that Python is 0-based, so we need to add 1

The first cytosine is in position 5

## EXERCISE 3 - Data types: numbers

**1. Create three variables `a`, `b`, and `c` with values 2, 5 and 3 respectively.**

In [83]:
# Option 1
a,b,c = 2,5,3
# Option 2
a = 2
b = 5
c = 3

**2. Is `a` greater or equal than `c`. And `b`?**

In [88]:
print(a>=c)
print(b>=c)

False
True

**3. Try `(a+c)*5`. Assign it to `d`.**

In [86]:
d = (a+c)*5
d

25

**4. Try b\*\*a. Is it the same as `d`? Use either `==` or `is` for comparison.**

In [90]:
(b**a) is d

True

**5. What is `d` divided by `a`? If not exact, what is the remainder?**

In [89]:
print(d/a)
print(d%a)

12.5
1

## EXERCISE 4 - Data types: lists

**1. Create a list `y` which contains the numbers from 2 to 11, both included. 
Print `y` in the console.**

In [7]:
# Option 1
y = [2,3,4,5,6,7,8,9,10,11]
print(y)

# Option 2 (using function range). Note that the end value of range is not included
y = list(range(2,12))
print(y)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

**2. How many elements are in `y`? I.e what is the length of the list `y`?**

In [2]:
len(y)

10

**3. Show the 2nd element of `y`. Remember that Python uses 0-based indexing.**

In [3]:
y[1]

3

**3. Show from 5th to 7th element of `y`.**

In [4]:
y[4:7] # Note that the end value of index is not included

[6, 7, 8]

**4. Show the last element of `y`.**

In [5]:
y[-1]

11

**5. Remove the 4th element of `y` and reassign. Use the methods `pop`and `remove`. What is now the length of `y`?**

In [8]:
# Option 1 - by index
y.pop(3)
# Option 2 -  by value
y.remove(5)
len(y)

9

**6. What are the minimum, maximum and sum of values in `y`?**

In [9]:
print(max(y))
print(min(y))
print(sum(y))

11
2
60

**7. Check whether 1 and 9 are present in `y` list. Use the `in` operator.**

In [10]:
print(1 in y)
print(9 in y)

False
True

**8. Create a list `x=[1,2,3,1,2,3,1,2,3]`, but expressed as a repetion of `[1,2,3]`. Use `*`.**

In [11]:
x=[1,2,3]*3
x

[1, 2, 3, 1, 2, 3, 1, 2, 3]

**9. Add an additional element `15` in the list `x`. Use `append`.**

In [12]:
x.append(15)
print(x)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 15]

**10. Add four additional elements `[45,72,4,6]` in the list `x`. Use `extend`.**

In [13]:
x.extend([45,72,4,6])
print(x)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 15, 45, 72, 4, 6]

**11. Order the elements of `x` using the method `sort`.**

In [14]:
x.sort()
x

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 6, 15, 45, 72]

**12. Remove duplicated numbers in the list using the function `set`.**

In [15]:
print(set(x))

{1, 2, 3, 4, 6, 72, 45, 15}

**13. Find the items in common between the previous list and this one: `[5, 3, 7, 4, 10, 11, 12, 72]`. Use `set.intersection()`.**

In [16]:
items1 = set(x)
items2 = {5, 3, 7, 4, 10, 11, 12, 72}
items1.intersection(items2)

{3, 4, 72}

**14. Given the protein sequence "MPISEPTFFEIF", split the sequence into its component amino acid codes and count how many phenilalanines (F) are there.**

In [5]:
protein = list("MPISEPTFFEIF")
protein.count("F")

3

## EXERCISE 5 - Data types: dictionaries

**1. Create a dictionary `mydict` that matches the one letter amino acid code `A`, `C`, `D` and `E` to the three letter codes `Ala`, `Cys`, `Asp`, `Glu`.**

In [1]:
mydict = {'A': 'Ala', 'C': 'Cys', 'D': 'Asp', 'E': 'Glu'}

**2. Print the keys and values of the dictionary. Use the methods `values` and `keys`. Print the three letter code of `C`.**

In [2]:
print(mydict.keys())
print(mydict.values())
print(mydict['C'])

dict_keys(['A', 'C', 'D', 'E'])
dict_values(['Ala', 'Cys', 'Asp', 'Glu'])
Cys

**3. Add phenilalanine to `mydict`.**

In [105]:
mydict['F'] = 'Phe'

**4. Add a fake amino acid `A` that matches to `Fake` value. Print `mydict`.**

In [106]:
mydict['A'] = 'Fake'
print(mydict) # Note that we have renamed the previous alanine. No duplicated keys are allowed.

{'A': 'Fake', 'C': 'Cys', 'D': 'Asp', 'E': 'Glu', 'F': 'Phe'}

# Introduction to Python - Session 2
1. Flow control
    - if...else statements
    - for and while loops
2. List comprehension
3. Reading and writing files
4. Functions

SLIDES [HERE](https://docs.google.com/presentation/d/1SMnQmfrMgdD-81KdkxVsbGHcEoJ-Qsz0Y_NQIfUziz0/export/pdf)

## EXERCISE 1 - if...else statements

In [4]:
fruit = ["kiwi", "apple", "pear", "grape"]
fruit2 = ["cherry", "strawberry", "blueberry", "peach"]

**1. Use an `if` statement and the `in` function to check whether "apple" is present in `fruit`. If yes, print “There is an apple!”).**

In [2]:
if "apple" in fruit:
    print("There is an apple!")

There is an apple!

**2. Use an `if` statement and the `in` function to check whether "grapefruit" is present in `fruit`. If no, test whether "pear" is found. Print accordingly.**

In [3]:
if "grapefruit" in fruit:
    print("There is a grapefruit!")
elif "pear" in fruit:
    print("There is no grapefruit, but there is a pear!")

There is no grapefruit, but there is a pear!

**3. Add an `else` section in case neither "grapefruit" nor "pear" is found in `fruit`. Test your `if` statement also on `fruit2`:**

In [5]:
if "grapefruit" in fruit:
    print("There is a grapefruit!")
elif "pear" in fruit:
    print("There is no grapefruit, but there is a pear!")
else:
    print("No grapefruit and no pear can be found.")

There is no grapefruit, but there is a pear!

In [6]:
if "grapefruit" in fruit2:
    print("There is a grapefruit!")
elif "pear" in fruit2:
    print("There is no grapefruit, but there is a pear!")
else:
    print("No grapefruit and no pear can be found.")

No grapefruit and no pear can be found.

**4. Check whether the sequence "ATGGCGGTCGAATAG" contains a stop codon (TAG, TAA, TGA). Ignore the frame.**

In [9]:
sequence = "ATGGCGGTCGAATAG"
if ("TAG" in sequence) or ("TAA" in sequence) or ("TGA" in sequence):
    print("The sequence %s contains a Stop codon." % sequence)
else:
    print("The sequence %s does not contain any Stop codon." % sequence)

The sequence ATGGCGGTCGAATAG contains a Stop codon.

## EXERCISE 2 - For loops

**1. Write a `for` loop that iterates over the sequence of numbers 2 to 10 (both included), and prints the square of each number (function ` **2`).**

In [7]:
for n in range(2,11):
    print(n**2)

4
9
16
25
36
49
64
81
100

**2. Write a `for` loop that iterates over the sequence of numbers 5 to 15 (both included), and prints a new list of 2 elements containing the number and its square.**

In [8]:
for n in range(5,16):
    new_list = [n,n**2]
    print(new_list)

[5, 25]
[6, 36]
[7, 49]
[8, 64]
[9, 81]
[10, 100]
[11, 121]
[12, 144]
[13, 169]
[14, 196]
[15, 225]

**3. Write a program where you print out all positive numbers up to 1000 that can be divided by 13, or 17, or both.**

In [4]:
# Create 2 objects: myNumbers and myDividers
myNumbers = range(1,1001)
myDividers = [13,17]   # We will loop over these in the loop itself, so it's easy to add new numbers to this

# Loop through all numbers and, if dividable, print it and its dividers.
for myNumber in myNumbers:
    validDividers = []     # In this list we will put all the valid dividers

    for myDivider in myDividers:
        if (myNumber % myDivider)==0:
            validDividers.append(myDivider)

    if validDividers:      # This means that the list has to have values in it
        print("Number %i is divisible by %s" % (myNumber,validDividers))

Number 13 is divisible by [13]
Number 17 is divisible by [17]
Number 26 is divisible by [13]
Number 34 is divisible by [17]
Number 39 is divisible by [13]
Number 51 is divisible by [17]
Number 52 is divisible by [13]
Number 65 is divisible by [13]
Number 68 is divisible by [17]
Number 78 is divisible by [13]
Number 85 is divisible by [17]
Number 91 is divisible by [13]
Number 102 is divisible by [17]
Number 104 is divisible by [13]
Number 117 is divisible by [13]
Number 119 is divisible by [17]
Number 130 is divisible by [13]
Number 136 is divisible by [17]
Number 143 is divisible by [13]
Number 153 is divisible by [17]
Number 156 is divisible by [13]
Number 169 is divisible by [13]
Number 170 is divisible by [17]
Number 182 is divisible by [13]
Number 187 is divisible by [17]
Number 195 is divisible by [13]
Number 204 is divisible by [17]
Number 208 is divisible by [13]
Number 221 is divisible by [13, 17]
Number 234 is divisible by [13]
Number 238 is divisible by [17]
Number 247 is divisible by [13]
Number 255 is divisible by [17]
Number 260 is divisible by [13]
Number 272 is divisible by [17]
Number 273 is divisible by [13]
Number 286 is divisible by [13]
Number 289 is divisible by [17]
Number 299 is divisible by [13]
Number 306 is divisible by [17]
Number 312 is divisible by [13]
Number 323 is divisible by [17]
Number 325 is divisible by [13]
Number 338 is divisible by [13]
Number 340 is divisible by [17]
Number 351 is divisible by [13]
Number 357 is divisible by [17]
Number 364 is divisible by [13]
Number 374 is divisible by [17]
Number 377 is divisible by [13]
Number 390 is divisible by [13]
Number 391 is divisible by [17]
Number 403 is divisible by [13]
Number 408 is divisible by [17]
Number 416 is divisible by [13]
Number 425 is divisible by [17]
Number 429 is divisible by [13]
Number 442 is divisible by [13, 17]
Number 455 is divisible by [13]
Number 459 is divisible by [17]
Number 468 is divisible by [13]
Number 476 is divisible by [17]
Number 481 is divisible by [13]
Number 493 is divisible by [17]
Number 494 is divisible by [13]
Number 507 is divisible by [13]
Number 510 is divisible by [17]
Number 520 is divisible by [13]
Number 527 is divisible by [17]
Number 533 is divisible by [13]
Number 544 is divisible by [17]
Number 546 is divisible by [13]
Number 559 is divisible by [13]
Number 561 is divisible by [17]
Number 572 is divisible by [13]
Number 578 is divisible by [17]
Number 585 is divisible by [13]
Number 595 is divisible by [17]
Number 598 is divisible by [13]
Number 611 is divisible by [13]
Number 612 is divisible by [17]
Number 624 is divisible by [13]
Number 629 is divisible by [17]
Number 637 is divisible by [13]
Number 646 is divisible by [17]
Number 650 is divisible by [13]
Number 663 is divisible by [13, 17]
Number 676 is divisible by [13]
Number 680 is divisible by [17]
Number 689 is divisible by [13]
Number 697 is divisible by [17]
Number 702 is divisible by [13]
Number 714 is divisible by [17]
Number 715 is divisible by [13]
Number 728 is divisible by [13]
Number 731 is divisible by [17]
Number 741 is divisible by [13]
Number 748 is divisible by [17]
Number 754 is divisible by [13]
Number 765 is divisible by [17]
Number 767 is divisible by [13]
Number 780 is divisible by [13]
Number 782 is divisible by [17]
Number 793 is divisible by [13]
Number 799 is divisible by [17]
Number 806 is divisible by [13]
Number 816 is divisible by [17]
Number 819 is divisible by [13]
Number 832 is divisible by [13]
Number 833 is divisible by [17]
Number 845 is divisible by [13]
Number 850 is divisible by [17]
Number 858 is divisible by [13]
Number 867 is divisible by [17]
Number 871 is divisible by [13]
Number 884 is divisible by [13, 17]
Number 897 is divisible by [13]
Number 901 is divisible by [17]
Number 910 is divisible by [13]
Number 918 is divisible by [17]
Number 923 is divisible by [13]
Number 935 is divisible by [17]
Number 936 is divisible by [13]
Number 949 is divisible by [13]
Number 952 is divisible by [17]
Number 962 is divisible by [13]
Number 969 is divisible by [17]
Number 975 is divisible by [13]
Number 986 is divisible by [17]
Number 988 is divisible by [13]

**4. Write a program where you find, for each positive number up to 50, all numbers that can divide each number in this range.**

In [8]:
myNumbers = range(1,51)
 
for x in myNumbers:
    dividers = []
    for y in range(1,x+1): # remember that the end value is not included in range
        if (x % y)==0:
            dividers.append(y)
    
    print ("Number %i can be divided by %s" % (x,dividers))

Number 1 can be divided by [1]
Number 2 can be divided by [1, 2]
Number 3 can be divided by [1, 3]
Number 4 can be divided by [1, 2, 4]
Number 5 can be divided by [1, 5]
Number 6 can be divided by [1, 2, 3, 6]
Number 7 can be divided by [1, 7]
Number 8 can be divided by [1, 2, 4, 8]
Number 9 can be divided by [1, 3, 9]
Number 10 can be divided by [1, 2, 5, 10]
Number 11 can be divided by [1, 11]
Number 12 can be divided by [1, 2, 3, 4, 6, 12]
Number 13 can be divided by [1, 13]
Number 14 can be divided by [1, 2, 7, 14]
Number 15 can be divided by [1, 3, 5, 15]
Number 16 can be divided by [1, 2, 4, 8, 16]
Number 17 can be divided by [1, 17]
Number 18 can be divided by [1, 2, 3, 6, 9, 18]
Number 19 can be divided by [1, 19]
Number 20 can be divided by [1, 2, 4, 5, 10, 20]
Number 21 can be divided by [1, 3, 7, 21]
Number 22 can be divided by [1, 2, 11, 22]
Number 23 can be divided by [1, 23]
Number 24 can be divided by [1, 2, 3, 4, 6, 8, 12, 24]
Number 25 can be divided by [1, 5, 25]
Number 26 can be divided by [1, 2, 13, 26]
Number 27 can be divided by [1, 3, 9, 27]
Number 28 can be divided by [1, 2, 4, 7, 14, 28]
Number 29 can be divided by [1, 29]
Number 30 can be divided by [1, 2, 3, 5, 6, 10, 15, 30]
Number 31 can be divided by [1, 31]
Number 32 can be divided by [1, 2, 4, 8, 16, 32]
Number 33 can be divided by [1, 3, 11, 33]
Number 34 can be divided by [1, 2, 17, 34]
Number 35 can be divided by [1, 5, 7, 35]
Number 36 can be divided by [1, 2, 3, 4, 6, 9, 12, 18, 36]
Number 37 can be divided by [1, 37]
Number 38 can be divided by [1, 2, 19, 38]
Number 39 can be divided by [1, 3, 13, 39]
Number 40 can be divided by [1, 2, 4, 5, 8, 10, 20, 40]
Number 41 can be divided by [1, 41]
Number 42 can be divided by [1, 2, 3, 6, 7, 14, 21, 42]
Number 43 can be divided by [1, 43]
Number 44 can be divided by [1, 2, 4, 11, 22, 44]
Number 45 can be divided by [1, 3, 5, 9, 15, 45]
Number 46 can be divided by [1, 2, 23, 46]
Number 47 can be divided by [1, 47]
Number 48 can be divided by [1, 2, 3, 4, 6, 8, 12, 16, 24, 48]
Number 49 can be divided by [1, 7, 49]
Number 50 can be divided by [1, 2, 5, 10, 25, 50]

**5. Write a program where you start with a list of numbers from 1 to 100, and you then remove every number from this list that can be divided by 3 or by 5. Print the result.**

In [10]:
myNumberList = list(range(1,101))
 
# You have to make a copy of the original list here (using [:]), otherwise Python will get 'confused'
# when you remove values from the list while it's looping over it
for number in myNumberList[:]:  
    if (number % 3)==0 or (number % 5)==0:
        myNumberList.remove(number)

print(myNumberList)

[1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]

## EXERCISE 3 - List comprehension
Remember that all list comprehensions can be also expressed as a for loop. Please formulate the answers as list comprehensions for practice.

**1. Create a list of integers which specify the length of each word in `mysentence`, but only if the word is not the word "the".**

In [2]:
mysentence = "the quick brown fox jumps over the lazy dog"

words = mysentence.split()
word_lengths = [len(word) for word in words if word != "the"]
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

**2. Create a new list called `newlist` out of the list `numbers`, which contains only the positive numbers from the list, as integers.**

In [3]:
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]

newlist = [int(x) for x in numbers if x > 0]
print(newlist)

[34, 44, 68, 44, 12]

**3. Remove all of the vowels in `mysentence`.**

In [9]:
mysentence = "the quick brown fox jumps over the lazy dog"

vowels = ['a','e','i','o','u']
novowel_list = [letter for letter in mysentence if letter.lower() not in vowels]
novowel_string = "".join(results) # Collapse the results in novowel_list into a string again
print(novowel_string)

th qck brwn fx jmps vr th lzy dg

**4. Use a nested list comprehension to find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9).**

In [12]:
results = [number for number in range(1,1001) if [divisor for divisor in range(2,10) if number % divisor == 0]]
print(results)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 188, 189, 190, 192, 194, 195, 196, 198, 200, 201, 202, 203, 204, 205, 206, 207, 208, 210, 212, 213, 214, 215, 216, 217, 218, 219, 220, 222, 224, 225, 226, 228, 230, 231, 232, 234, 235, 236, 237, 238, 240, 242, 243, 244, 245, 246, 248, 249, 250, 252, 254, 255, 256, 258, 259, 260, 261, 262, 264, 265, 266, 267, 268, 270, 272, 273, 274, 275, 276, 278, 279, 280, 282, 284, 285, 286, 287, 288, 290, 291, 292, 294, 295, 296, 297, 298, 300, 301, 302, 303, 304, 305, 306, 308, 309, 310, 312, 314, 315, 316, 318, 320, 321, 322, 324, 325, 326, 327, 328, 329, 330, 332, 333, 334, 335, 336, 338, 339, 340, 342, 343, 344, 345, 346, 348, 350, 351, 352, 354, 355, 356, 357, 358, 360, 362, 363, 364, 365, 366, 368, 369, 370, 371, 372, 374, 375, 376, 378, 380, 381, 382, 384, 385, 386, 387, 388, 390, 392, 393, 394, 395, 396, 398, 399, 400, 402, 404, 405, 406, 408, 410, 411, 412, 413, 414, 415, 416, 417, 418, 420, 422, 423, 424, 425, 426, 427, 428, 429, 430, 432, 434, 435, 436, 438, 440, 441, 442, 444, 445, 446, 447, 448, 450, 452, 453, 454, 455, 456, 458, 459, 460, 462, 464, 465, 466, 468, 469, 470, 471, 472, 474, 475, 476, 477, 478, 480, 482, 483, 484, 485, 486, 488, 489, 490, 492, 494, 495, 496, 497, 498, 500, 501, 502, 504, 505, 506, 507, 508, 510, 511, 512, 513, 514, 515, 516, 518, 519, 520, 522, 524, 525, 526, 528, 530, 531, 532, 534, 535, 536, 537, 538, 539, 540, 542, 543, 544, 545, 546, 548, 549, 550, 552, 553, 554, 555, 556, 558, 560, 561, 562, 564, 565, 566, 567, 568, 570, 572, 573, 574, 575, 576, 578, 579, 580, 581, 582, 584, 585, 586, 588, 590, 591, 592, 594, 595, 596, 597, 598, 600, 602, 603, 604, 605, 606, 608, 609, 610, 612, 614, 615, 616, 618, 620, 621, 622, 623, 624, 625, 626, 627, 628, 630, 632, 633, 634, 635, 636, 637, 638, 639, 640, 642, 644, 645, 646, 648, 650, 651, 652, 654, 655, 656, 657, 658, 660, 662, 663, 664, 665, 666, 668, 669, 670, 672, 674, 675, 676, 678, 679, 680, 681, 682, 684, 685, 686, 687, 688, 690, 692, 693, 694, 695, 696, 698, 699, 700, 702, 704, 705, 706, 707, 708, 710, 711, 712, 714, 715, 716, 717, 718, 720, 721, 722, 723, 724, 725, 726, 728, 729, 730, 732, 734, 735, 736, 738, 740, 741, 742, 744, 745, 746, 747, 748, 749, 750, 752, 753, 754, 755, 756, 758, 759, 760, 762, 763, 764, 765, 766, 768, 770, 771, 772, 774, 775, 776, 777, 778, 780, 782, 783, 784, 785, 786, 788, 789, 790, 791, 792, 794, 795, 796, 798, 800, 801, 802, 804, 805, 806, 807, 808, 810, 812, 813, 814, 815, 816, 818, 819, 820, 822, 824, 825, 826, 828, 830, 831, 832, 833, 834, 835, 836, 837, 838, 840, 842, 843, 844, 845, 846, 847, 848, 849, 850, 852, 854, 855, 856, 858, 860, 861, 862, 864, 865, 866, 867, 868, 870, 872, 873, 874, 875, 876, 878, 879, 880, 882, 884, 885, 886, 888, 889, 890, 891, 892, 894, 895, 896, 897, 898, 900, 902, 903, 904, 905, 906, 908, 909, 910, 912, 914, 915, 916, 917, 918, 920, 921, 922, 924, 925, 926, 927, 928, 930, 931, 932, 933, 934, 935, 936, 938, 939, 940, 942, 944, 945, 946, 948, 950, 951, 952, 954, 955, 956, 957, 958, 959, 960, 962, 963, 964, 965, 966, 968, 969, 970, 972, 973, 974, 975, 976, 978, 980, 981, 982, 984, 985, 986, 987, 988, 990, 992, 993, 994, 995, 996, 998, 999, 1000]

**5. Print out the amino acid sequence that would be produced by the DNA sequence "GTTGCACCACAACCG". Use genetic code below.**

In [1]:
GENETIC_CODE = {
    'ATA':'I', 'ATC':'I', 'ATT':'I', 'ATG':'M',
    'ACA':'T', 'ACC':'T', 'ACG':'T', 'ACT':'T',
    'AAC':'N', 'AAT':'N', 'AAA':'K', 'AAG':'K',
    'AGC':'S', 'AGT':'S', 'AGA':'R', 'AGG':'R',
    'CTA':'L', 'CTC':'L', 'CTG':'L', 'CTT':'L',
    'CCA':'P', 'CCC':'P', 'CCG':'P', 'CCT':'P',
    'CAC':'H', 'CAT':'H', 'CAA':'Q', 'CAG':'Q',
    'CGA':'R', 'CGC':'R', 'CGG':'R', 'CGT':'R',
    'GTA':'V', 'GTC':'V', 'GTG':'V', 'GTT':'V',
    'GCA':'A', 'GCC':'A', 'GCG':'A', 'GCT':'A',
    'GAC':'D', 'GAT':'D', 'GAA':'E', 'GAG':'E',
    'GGA':'G', 'GGC':'G', 'GGG':'G', 'GGT':'G',
    'TCA':'S', 'TCC':'S', 'TCG':'S', 'TCT':'S',
    'TTC':'F', 'TTT':'F', 'TTA':'L', 'TTG':'L',
    'TAC':'Y', 'TAT':'Y', 'TAA':'_', 'TAG':'_',
    'TGC':'C', 'TGT':'C', 'TGA':'_', 'TGG':'W'}

In [2]:
sequence = "GTTGCACCACAACCG"
seq_codons = [sequence[n:n+3] for n in range(0,len(sequence),3)] # Separate sequence into codons
seq_aa = [GENETIC_CODE[c] for c in seq_codons]
translated_seq = "".join(seq_aa)
print(translated_seq)

VAPQP

## EXERCISE 4 - While loops

**1. Write a program that print all the powers of base 2 for which the result is smaller than 1000.**

In [16]:
baseValue = 2
powerValue = 1
powerResult = baseValue ** powerValue # This is the first power
while powerResult < 1000:
    print("%i to the power %i is %i" % (baseValue,powerValue,powerResult))
    powerResult = baseValue ** powerValue
    powerValue += 1 # Add one to itself - this kind of step is crucial in a while loop, or it will be endless!

2 to the power 1 is 2
2 to the power 2 is 2
2 to the power 3 is 4
2 to the power 4 is 8
2 to the power 5 is 16
2 to the power 6 is 32
2 to the power 7 is 64
2 to the power 8 is 128
2 to the power 9 is 256
2 to the power 10 is 512

**2. Write a program where you ask the user for an integer using the `input()` function. Keep on asking if they give a wrong input (not integer). Check whether the number can be divided by 7, and print the result.** HINT: `isdigit()` checks whether a string is an integer.

In [17]:
# Keep on checking until you have a number, prime the while loop as well
isNumber = False
while not (isNumber):
    inputString = input("Give a number:")
    if inputString.isdigit():
        isNumber = True
        number = int(inputString)
    else:
        print("Incorrect, not a an integer, try again.")

if (number % 7)==0:
    print("%i can be divided by 7" % (number))
else:
    print("%i cannot be divided by 7" % (number))

Give a number:2.5
Incorrect, not a an integer, try again.
Give a number:1.8
Incorrect, not a an integer, try again.
Give a number:7
7 can be divided by 7

## EXERCISE 5 - Reading and writing files

**1. Read the "TestFile.pdb" file within the directory "data" (PDB coordinate file for a 5 residue peptide). Print the number of lines of the file (length).**

In [13]:
# Open the file
fileHandle = open("data/TestFile.pdb")
 
# Read all the lines in the file (as separated by a newline character), and store them in the lines list
# Each element in this list corresponds to one line of the file!
lines = fileHandle.readlines()
 
# Close the file
fileHandle.close()
 
# Print number of lines in the file
print(len(lines))

263

**2. Loop over the lines, and use the method `strip` to remove starting and trailing spaces/tabs/newlines. As PDB files  are delimited by spaces, use the method `split` to separate the elements in each line. Print.**

In [17]:
# Loop over the lines
for line in lines:
    line = line.strip()  # Remove starting and trailing spaces/tabs/newlines
    
    # Only do something if it's not an empty line
    if line:
        print(line.split())   # Split the line by white spaces

['HEADER', 'IMMUNE', 'SYSTEM', '09-APR-01', '1ABC']
['TITLE', 'SOLUTION', 'STRUCTURE', 'OF', 'A', 'NON-EXISTENT', 'PEPTIDE']
['REMARK', '1', 'THIS', 'IS', 'A', 'FAKE', 'PDB', 'FILE']
['SEQRES', '1', 'A', '5', 'ASP', 'VAL', 'GLN', 'LEU', 'GLN']
['MODEL', '1']
['ATOM', '1', 'N', 'ASP', 'A', '1', '-10.341', '-9.922', '9.398', '1.00', '0.00', 'N']
['ATOM', '2', 'CA', 'ASP', 'A', '1', '-11.156', '-9.786', '8.164', '1.00', '0.00', 'C']
['ATOM', '3', 'C', 'ASP', 'A', '1', '-10.288', '-9.894', '6.915', '1.00', '0.00', 'C']
['ATOM', '4', 'O', 'ASP', 'A', '1', '-10.429', '-10.831', '6.127', '1.00', '0.00', 'O']
['ATOM', '5', 'CB', 'ASP', 'A', '1', '-11.868', '-8.431', '8.188', '1.00', '0.00', 'C']
['ATOM', '6', 'CG', 'ASP', 'A', '1', '-11.756', '-7.739', '9.533', '1.00', '0.00', 'C']
['ATOM', '7', 'OD1', 'ASP', 'A', '1', '-10.726', '-7.077', '9.778', '1.00', '0.00', 'O']
['ATOM', '8', 'OD2', 'ASP', 'A', '1', '-12.701', '-7.858', '10.342', '1.00', '0.00', 'O']
['ATOM', '9', 'HA', 'ASP', 'A', '1', '-11.893', '-10.575', '8.149', '1.00', '0.00', 'H']
['ATOM', '10', 'HB2', 'ASP', 'A', '1', '-11.430', '-7.790', '7.437', '1.00', '0.00', 'H']
['ATOM', '11', 'HB3', 'ASP', 'A', '1', '-12.914', '-8.578', '7.965', '1.00', '0.00', 'H']
['ATOM', '12', 'H1', 'ASP', 'A', '1', '-9.660', '-10.701', '9.293', '1.00', '0.00', 'H']
['ATOM', '13', 'H2', 'ASP', 'A', '1', '-10.955', '-10.120', '10.213', '1.00', '0.00', 'H']
['ATOM', '14', 'H3', 'ASP', 'A', '1', '-9.817', '-9.042', '9.579', '1.00', '0.00', 'H']
['ATOM', '15', 'N', 'VAL', 'A', '2', '-9.394', '-8.927', '6.739', '1.00', '0.00', 'N']
['ATOM', '16', 'CA', 'VAL', 'A', '2', '-8.505', '-8.908', '5.584', '1.00', '0.00', 'C']
['ATOM', '17', 'C', 'VAL', 'A', '2', '-7.043', '-8.954', '6.011', '1.00', '0.00', 'C']
['ATOM', '18', 'O', 'VAL', 'A', '2', '-6.550', '-8.040', '6.670', '1.00', '0.00', 'O']
['ATOM', '19', 'CB', 'VAL', 'A', '2', '-8.732', '-7.652', '4.719', '1.00', '0.00', 'C']
['ATOM', '20', 'CG1', 'VAL', 'A', '2', '-8.420', '-7.943', '3.260', '1.00', '0.00', 'C']
['ATOM', '21', 'CG2', 'VAL', 'A', '2', '-10.157', '-7.142', '4.872', '1.00', '0.00', 'C']
['ATOM', '22', 'H', 'VAL', 'A', '2', '-9.331', '-8.207', '7.401', '1.00', '0.00', 'H']
['ATOM', '23', 'HA', 'VAL', 'A', '2', '-8.721', '-9.778', '4.981', '1.00', '0.00', 'H']
['ATOM', '24', 'HB', 'VAL', 'A', '2', '-8.057', '-6.879', '5.058', '1.00', '0.00', 'H']
['ATOM', '25', 'HG11', 'VAL', 'A', '2', '-7.777', '-7.169', '2.868', '1.00', '0.00', 'H']
['ATOM', '26', 'HG12', 'VAL', 'A', '2', '-9.340', '-7.967', '2.695', '1.00', '0.00', 'H']
['ATOM', '27', 'HG13', 'VAL', 'A', '2', '-7.924', '-8.899', '3.182', '1.00', '0.00', 'H']
['ATOM', '28', 'HG21', 'VAL', 'A', '2', '-10.196', '-6.097', '4.604', '1.00', '0.00', 'H']
['ATOM', '29', 'HG22', 'VAL', 'A', '2', '-10.474', '-7.263', '5.896', '1.00', '0.00', 'H']
['ATOM', '30', 'HG23', 'VAL', 'A', '2', '-10.812', '-7.705', '4.224', '1.00', '0.00', 'H']
['ATOM', '31', 'N', 'GLN', 'A', '3', '-6.353', '-10.022', '5.624', '1.00', '0.00', 'N']
['ATOM', '32', 'CA', 'GLN', 'A', '3', '-4.943', '-10.183', '5.959', '1.00', '0.00', 'C']
['ATOM', '33', 'C', 'GLN', 'A', '3', '-4.103', '-10.294', '4.693', '1.00', '0.00', 'C']
['ATOM', '34', 'O', 'GLN', 'A', '3', '-4.496', '-10.955', '3.733', '1.00', '0.00', 'O']
['ATOM', '35', 'CB', 'GLN', 'A', '3', '-4.735', '-11.419', '6.834', '1.00', '0.00', 'C']
['ATOM', '36', 'CG', 'GLN', 'A', '3', '-3.385', '-11.442', '7.528', '1.00', '0.00', 'C']
['ATOM', '37', 'CD', 'GLN', 'A', '3', '-2.543', '-12.638', '7.129', '1.00', '0.00', 'C']
['ATOM', '38', 'OE1', 'GLN', 'A', '3', '-3.043', '-13.759', '7.031', '1.00', '0.00', 'O']
['ATOM', '39', 'NE2', 'GLN', 'A', '3', '-1.256', '-12.406', '6.896', '1.00', '0.00', 'N']
['ATOM', '40', 'H', 'GLN', 'A', '3', '-6.801', '-10.714', '5.096', '1.00', '0.00', 'H']
['ATOM', '41', 'HA', 'GLN', 'A', '3', '-4.632', '-9.307', '6.508', '1.00', '0.00', 'H']
['ATOM', '42', 'HB2', 'GLN', 'A', '3', '-5.507', '-11.446', '7.590', '1.00', '0.00', 'H']
['ATOM', '43', 'HB3', 'GLN', 'A', '3', '-4.815', '-12.302', '6.217', '1.00', '0.00', 'H']
['ATOM', '44', 'HG2', 'GLN', 'A', '3', '-2.847', '-10.540', '7.268', '1.00', '0.00', 'H']
['ATOM', '45', 'HG3', 'GLN', 'A', '3', '-3.543', '-11.470', '8.596', '1.00', '0.00', 'H']
['ATOM', '46', 'HE21', 'GLN', 'A', '3', '-0.927', '-11.489', '6.993', '1.00', '0.00', 'H']
['ATOM', '47', 'HE22', 'GLN', 'A', '3', '-0.689', '-13.163', '6.638', '1.00', '0.00', 'H']
['ATOM', '48', 'N', 'LEU', 'A', '4', '-2.948', '-9.635', '4.694', '1.00', '0.00', 'N']
['ATOM', '49', 'CA', 'LEU', 'A', '4', '-2.061', '-9.657', '3.537', '1.00', '0.00', 'C']
['ATOM', '50', 'C', 'LEU', 'A', '4', '-0.648', '-10.074', '3.943', '1.00', '0.00', 'C']
['ATOM', '51', 'O', 'LEU', 'A', '4', '-0.317', '-10.101', '5.127', '1.00', '0.00', 'O']
['ATOM', '52', 'CB', 'LEU', 'A', '4', '-2.044', '-8.279', '2.860', '1.00', '0.00', 'C']
['ATOM', '53', 'CG', 'LEU', 'A', '4', '-3.143', '-7.312', '3.321', '1.00', '0.00', 'C']
['ATOM', '54', 'CD1', 'LEU', 'A', '4', '-2.833', '-5.894', '2.876', '1.00', '0.00', 'C']
['ATOM', '55', 'CD2', 'LEU', 'A', '4', '-4.502', '-7.739', '2.792', '1.00', '0.00', 'C']
['ATOM', '56', 'H', 'LEU', 'A', '4', '-2.688', '-9.119', '5.487', '1.00', '0.00', 'H']
['ATOM', '57', 'HA', 'LEU', 'A', '4', '-2.448', '-10.384', '2.839', '1.00', '0.00', 'H']
['ATOM', '58', 'HB2', 'LEU', 'A', '4', '-1.084', '-7.821', '3.051', '1.00', '0.00', 'H']
['ATOM', '59', 'HB3', 'LEU', 'A', '4', '-2.148', '-8.425', '1.796', '1.00', '0.00', 'H']
['ATOM', '60', 'HG', 'LEU', 'A', '4', '-3.187', '-7.318', '4.401', '1.00', '0.00', 'H']
['ATOM', '61', 'HD11', 'LEU', 'A', '4', '-2.151', '-5.920', '2.040', '1.00', '0.00', 'H']
['ATOM', '62', 'HD12', 'LEU', 'A', '4', '-2.381', '-5.350', '3.693', '1.00', '0.00', 'H']
['ATOM', '63', 'HD13', 'LEU', 'A', '4', '-3.749', '-5.403', '2.578', '1.00', '0.00', 'H']
['ATOM', '64', 'HD21', 'LEU', 'A', '4', '-5.276', '-7.170', '3.290', '1.00', '0.00', 'H']
['ATOM', '65', 'HD22', 'LEU', 'A', '4', '-4.649', '-8.791', '2.981', '1.00', '0.00', 'H']
['ATOM', '66', 'HD23', 'LEU', 'A', '4', '-4.547', '-7.553', '1.729', '1.00', '0.00', 'H']
['ATOM', '67', 'N', 'GLN', 'A', '5', '0.177', '-10.408', '2.954', '1.00', '0.00', 'N']
['ATOM', '68', 'CA', 'GLN', 'A', '5', '1.551', '-10.831', '3.212', '1.00', '0.00', 'C']
['ATOM', '69', 'C', 'GLN', 'A', '5', '2.519', '-10.133', '2.262', '1.00', '0.00', 'C']
['ATOM', '70', 'O', 'GLN', 'A', '5', '2.272', '-10.057', '1.059', '1.00', '0.00', 'O']
['ATOM', '71', 'CB', 'GLN', 'A', '5', '1.671', '-12.351', '3.066', '1.00', '0.00', 'C']
['ATOM', '72', 'CG', 'GLN', 'A', '5', '3.104', '-12.846', '2.943', '1.00', '0.00', 'C']
['ATOM', '73', 'CD', 'GLN', 'A', '5', '3.372', '-13.531', '1.617', '1.00', '0.00', 'C']
['ATOM', '74', 'OE1', 'GLN', 'A', '5', '2.852', '-13.123', '0.579', '1.00', '0.00', 'O']
['ATOM', '75', 'NE2', 'GLN', 'A', '5', '4.187', '-14.579', '1.647', '1.00', '0.00', 'N']
['ATOM', '76', 'H', 'GLN', 'A', '5', '-0.147', '-10.373', '2.029', '1.00', '0.00', 'H']
['ATOM', '77', 'HA', 'GLN', 'A', '5', '1.798', '-10.554', '4.225', '1.00', '0.00', 'H']
['ATOM', '78', 'HB2', 'GLN', 'A', '5', '1.225', '-12.820', '3.930', '1.00', '0.00', 'H']
['ATOM', '79', 'HB3', 'GLN', 'A', '5', '1.131', '-12.659', '2.182', '1.00', '0.00', 'H']
['ATOM', '80', 'HG2', 'GLN', 'A', '5', '3.773', '-12.004', '3.037', '1.00', '0.00', 'H']
['ATOM', '81', 'HG3', 'GLN', 'A', '5', '3.298', '-13.549', '3.741', '1.00', '0.00', 'H']
['ATOM', '82', 'HE21', 'GLN', 'A', '5', '4.565', '-14.848', '2.511', '1.00', '0.00', 'H']
['ATOM', '83', 'HE22', 'GLN', 'A', '5', '4.378', '-15.041', '0.804', '1.00', '0.00', 'H']
['TER', '84', 'GLN', 'A', '5']
['ENDMDL']
['MODEL', '2']
['ATOM', '1', 'N', 'ASP', 'A', '1', '-9.717', '-9.466', '9.564', '1.00', '0.00', 'N']
['ATOM', '2', 'CA', 'ASP', 'A', '1', '-10.254', '-9.502', '8.178', '1.00', '0.00', 'C']
['ATOM', '3', 'C', 'ASP', 'A', '1', '-9.163', '-9.852', '7.171', '1.00', '0.00', 'C']
['ATOM', '4', 'O', 'ASP', 'A', '1', '-8.224', '-10.584', '7.489', '1.00', '0.00', 'O']
['ATOM', '5', 'CB', 'ASP', 'A', '1', '-10.850', '-8.131', '7.853', '1.00', '0.00', 'C']
['ATOM', '6', 'CG', 'ASP', 'A', '1', '-12.365', '-8.159', '7.791', '1.00', '0.00', 'C']
['ATOM', '7', 'OD1', 'ASP', 'A', '1', '-12.984', '-8.811', '8.659', '1.00', '0.00', 'O']
['ATOM', '8', 'OD2', 'ASP', 'A', '1', '-12.933', '-7.528', '6.875', '1.00', '0.00', 'O']
['ATOM', '9', 'HA', 'ASP', 'A', '1', '-11.032', '-10.249', '8.130', '1.00', '0.00', 'H']
['ATOM', '10', 'HB2', 'ASP', 'A', '1', '-10.552', '-7.426', '8.615', '1.00', '0.00', 'H']
['ATOM', '11', 'HB3', 'ASP', 'A', '1', '-10.473', '-7.802', '6.893', '1.00', '0.00', 'H']
['ATOM', '12', 'H1', 'ASP', 'A', '1', '-9.544', '-10.433', '9.905', '1.00', '0.00', 'H']
['ATOM', '13', 'H2', 'ASP', 'A', '1', '-10.397', '-9.002', '10.198', '1.00', '0.00', 'H']
['ATOM', '14', 'H3', 'ASP', 'A', '1', '-8.821', '-8.937', '9.586', '1.00', '0.00', 'H']
['ATOM', '15', 'N', 'VAL', 'A', '2', '-9.295', '-9.324', '5.956', '1.00', '0.00', 'N']
['ATOM', '16', 'CA', 'VAL', 'A', '2', '-8.326', '-9.573', '4.894', '1.00', '0.00', 'C']
['ATOM', '17', 'C', 'VAL', 'A', '2', '-6.901', '-9.301', '5.372', '1.00', '0.00', 'C']
['ATOM', '18', 'O', 'VAL', 'A', '2', '-6.588', '-8.205', '5.838', '1.00', '0.00', 'O']
['ATOM', '19', 'CB', 'VAL', 'A', '2', '-8.625', '-8.709', '3.647', '1.00', '0.00', 'C']
['ATOM', '20', 'CG1', 'VAL', 'A', '2', '-9.213', '-7.366', '4.049', '1.00', '0.00', 'C']
['ATOM', '21', 'CG2', 'VAL', 'A', '2', '-7.374', '-8.512', '2.806', '1.00', '0.00', 'C']
['ATOM', '22', 'H', 'VAL', 'A', '2', '-10.068', '-8.751', '5.768', '1.00', '0.00', 'H']
['ATOM', '23', 'HA', 'VAL', 'A', '2', '-8.405', '-10.613', '4.612', '1.00', '0.00', 'H']
['ATOM', '24', 'HB', 'VAL', 'A', '2', '-9.354', '-9.228', '3.043', '1.00', '0.00', 'H']
['ATOM', '25', 'HG11', 'VAL', 'A', '2', '-8.620', '-6.936', '4.843', '1.00', '0.00', 'H']
['ATOM', '26', 'HG12', 'VAL', 'A', '2', '-10.228', '-7.505', '4.393', '1.00', '0.00', 'H']
['ATOM', '27', 'HG13', 'VAL', 'A', '2', '-9.209', '-6.701', '3.198', '1.00', '0.00', 'H']
['ATOM', '28', 'HG21', 'VAL', 'A', '2', '-6.816', '-7.669', '3.188', '1.00', '0.00', 'H']
['ATOM', '29', 'HG22', 'VAL', 'A', '2', '-7.655', '-8.322', '1.781', '1.00', '0.00', 'H']
['ATOM', '30', 'HG23', 'VAL', 'A', '2', '-6.763', '-9.400', '2.854', '1.00', '0.00', 'H']
['ATOM', '31', 'N', 'GLN', 'A', '3', '-6.045', '-10.308', '5.242', '1.00', '0.00', 'N']
['ATOM', '32', 'CA', 'GLN', 'A', '3', '-4.649', '-10.193', '5.646', '1.00', '0.00', 'C']
['ATOM', '33', 'C', 'GLN', 'A', '3', '-3.737', '-10.324', '4.433', '1.00', '0.00', 'C']
['ATOM', '34', 'O', 'GLN', 'A', '3', '-3.986', '-11.144', '3.551', '1.00', '0.00', 'O']
['ATOM', '35', 'CB', 'GLN', 'A', '3', '-4.304', '-11.272', '6.674', '1.00', '0.00', 'C']
['ATOM', '36', 'CG', 'GLN', 'A', '3', '-3.671', '-10.726', '7.944', '1.00', '0.00', 'C']
['ATOM', '37', 'CD', 'GLN', 'A', '3', '-2.254', '-11.224', '8.150', '1.00', '0.00', 'C']
['ATOM', '38', 'OE1', 'GLN', 'A', '3', '-1.914', '-11.744', '9.212', '1.00', '0.00', 'O']
['ATOM', '39', 'NE2', 'GLN', 'A', '3', '-1.418', '-11.066', '7.130', '1.00', '0.00', 'N']
['ATOM', '40', 'H', 'GLN', 'A', '3', '-6.360', '-11.152', '4.858', '1.00', '0.00', 'H']
['ATOM', '41', 'HA', 'GLN', 'A', '3', '-4.508', '-9.219', '6.092', '1.00', '0.00', 'H']
['ATOM', '42', 'HB2', 'GLN', 'A', '3', '-5.209', '-11.795', '6.945', '1.00', '0.00', 'H']
['ATOM', '43', 'HB3', 'GLN', 'A', '3', '-3.615', '-11.971', '6.226', '1.00', '0.00', 'H']
['ATOM', '44', 'HG2', 'GLN', 'A', '3', '-3.652', '-9.648', '7.887', '1.00', '0.00', 'H']
['ATOM', '45', 'HG3', 'GLN', 'A', '3', '-4.271', '-11.031', '8.790', '1.00', '0.00', 'H']
['ATOM', '46', 'HE21', 'GLN', 'A', '3', '-1.758', '-10.642', '6.315', '1.00', '0.00', 'H']
['ATOM', '47', 'HE22', 'GLN', 'A', '3', '-0.495', '-11.379', '7.235', '1.00', '0.00', 'H']
['ATOM', '48', 'N', 'LEU', 'A', '4', '-2.684', '-9.512', '4.386', '1.00', '0.00', 'N']
['ATOM', '49', 'CA', 'LEU', 'A', '4', '-1.751', '-9.554', '3.265', '1.00', '0.00', 'C']
['ATOM', '50', 'C', 'LEU', 'A', '4', '-0.355', '-9.953', '3.728', '1.00', '0.00', 'C']
['ATOM', '51', 'O', 'LEU', 'A', '4', '-0.015', '-9.815', '4.903', '1.00', '0.00', 'O']
['ATOM', '52', 'CB', 'LEU', 'A', '4', '-1.697', '-8.198', '2.554', '1.00', '0.00', 'C']
['ATOM', '53', 'CG', 'LEU', 'A', '4', '-2.726', '-7.164', '3.021', '1.00', '0.00', 'C']
['ATOM', '54', 'CD1', 'LEU', 'A', '4', '-2.358', '-5.787', '2.502', '1.00', '0.00', 'C']
['ATOM', '55', 'CD2', 'LEU', 'A', '4', '-4.123', '-7.544', '2.554', '1.00', '0.00', 'C']
['ATOM', '56', 'H', 'LEU', 'A', '4', '-2.532', '-8.872', '5.115', '1.00', '0.00', 'H']
['ATOM', '57', 'HA', 'LEU', 'A', '4', '-2.109', '-10.297', '2.568', '1.00', '0.00', 'H']
['ATOM', '58', 'HB2', 'LEU', 'A', '4', '-0.711', '-7.780', '2.700', '1.00', '0.00', 'H']
['ATOM', '59', 'HB3', 'LEU', 'A', '4', '-1.843', '-8.365', '1.497', '1.00', '0.00', 'H']
['ATOM', '60', 'HG', 'LEU', 'A', '4', '-2.728', '-7.127', '4.100', '1.00', '0.00', 'H']
['ATOM', '61', 'HD11', 'LEU', 'A', '4', '-3.164', '-5.098', '2.706', '1.00', '0.00', 'H']
['ATOM', '62', 'HD12', 'LEU', 'A', '4', '-2.187', '-5.839', '1.438', '1.00', '0.00', 'H']
['ATOM', '63', 'HD13', 'LEU', 'A', '4', '-1.460', '-5.447', '2.994', '1.00', '0.00', 'H']
['ATOM', '64', 'HD21', 'LEU', 'A', '4', '-4.855', '-7.025', '3.155', '1.00', '0.00', 'H']
['ATOM', '65', 'HD22', 'LEU', 'A', '4', '-4.260', '-8.609', '2.660', '1.00', '0.00', 'H']
['ATOM', '66', 'HD23', 'LEU', 'A', '4', '-4.244', '-7.266', '1.518', '1.00', '0.00', 'H']
['ATOM', '67', 'N', 'GLN', 'A', '5', '0.449', '-10.447', '2.792', '1.00', '0.00', 'N']
['ATOM', '68', 'CA', 'GLN', 'A', '5', '1.811', '-10.869', '3.095', '1.00', '0.00', 'C']
['ATOM', '69', 'C', 'GLN', 'A', '5', '2.804', '-10.189', '2.159', '1.00', '0.00', 'C']
['ATOM', '70', 'O', 'GLN', 'A', '5', '2.816', '-10.449', '0.956', '1.00', '0.00', 'O']
['ATOM', '71', 'CB', 'GLN', 'A', '5', '1.934', '-12.390', '2.977', '1.00', '0.00', 'C']
['ATOM', '72', 'CG', 'GLN', 'A', '5', '0.704', '-13.138', '3.464', '1.00', '0.00', 'C']
['ATOM', '73', 'CD', 'GLN', 'A', '5', '0.987', '-14.597', '3.767', '1.00', '0.00', 'C']
['ATOM', '74', 'OE1', 'GLN', 'A', '5', '0.694', '-15.085', '4.859', '1.00', '0.00', 'O']
['ATOM', '75', 'NE2', 'GLN', 'A', '5', '1.559', '-15.303', '2.798', '1.00', '0.00', 'N']
['ATOM', '76', 'H', 'GLN', 'A', '5', '0.117', '-10.530', '1.874', '1.00', '0.00', 'H']
['ATOM', '77', 'HA', 'GLN', 'A', '5', '2.032', '-10.576', '4.109', '1.00', '0.00', 'H']
['ATOM', '78', 'HB2', 'GLN', 'A', '5', '2.098', '-12.646', '1.941', '1.00', '0.00', 'H']
['ATOM', '79', 'HB3', 'GLN', 'A', '5', '2.783', '-12.717', '3.558', '1.00', '0.00', 'H']
['ATOM', '80', 'HG2', 'GLN', 'A', '5', '0.343', '-12.664', '4.365', '1.00', '0.00', 'H']
['ATOM', '81', 'HG3', 'GLN', 'A', '5', '-0.058', '-13.085', '2.700', '1.00', '0.00', 'H']
['ATOM', '82', 'HE21', 'GLN', 'A', '5', '1.763', '-14.850', '1.954', '1.00', '0.00', 'H']
['ATOM', '83', 'HE22', 'GLN', 'A', '5', '1.753', '-16.248', '2.968', '1.00', '0.00', 'H']
['TER', '84', 'GLN', 'A', '5']
['ENDMDL']
['MODEL', '3']
['ATOM', '1', 'N', 'ASP', 'A', '1', '-10.188', '-8.864', '10.439', '1.00', '0.00', 'N']
['ATOM', '2', 'CA', 'ASP', 'A', '1', '-10.350', '-8.495', '9.009', '1.00', '0.00', 'C']
['ATOM', '3', 'C', 'ASP', 'A', '1', '-9.478', '-9.371', '8.115', '1.00', '0.00', 'C']
['ATOM', '4', 'O', 'ASP', 'A', '1', '-9.035', '-10.445', '8.524', '1.00', '0.00', 'O']
['ATOM', '5', 'CB', 'ASP', 'A', '1', '-9.970', '-7.023', '8.840', '1.00', '0.00', 'C']
['ATOM', '6', 'CG', 'ASP', 'A', '1', '-11.185', '-6.118', '8.763', '1.00', '0.00', 'C']
['ATOM', '7', 'OD1', 'ASP', 'A', '1', '-12.111', '-6.299', '9.580', '1.00', '0.00', 'O']
['ATOM', '8', 'OD2', 'ASP', 'A', '1', '-11.207', '-5.229', '7.886', '1.00', '0.00', 'O']
['ATOM', '9', 'HA', 'ASP', 'A', '1', '-11.384', '-8.630', '8.733', '1.00', '0.00', 'H']
['ATOM', '10', 'HB2', 'ASP', 'A', '1', '-9.368', '-6.714', '9.682', '1.00', '0.00', 'H']
['ATOM', '11', 'HB3', 'ASP', 'A', '1', '-9.397', '-6.907', '7.931', '1.00', '0.00', 'H']
['ATOM', '12', 'H1', 'ASP', 'A', '1', '-10.079', '-8.007', '11.019', '1.00', '0.00', 'H']
['ATOM', '13', 'H2', 'ASP', 'A', '1', '-9.346', '-9.461', '10.562', '1.00', '0.00', 'H']
['ATOM', '14', 'H3', 'ASP', 'A', '1', '-11.024', '-9.389', '10.769', '1.00', '0.00', 'H']
['ATOM', '15', 'N', 'VAL', 'A', '2', '-9.234', '-8.905', '6.893', '1.00', '0.00', 'N']
['ATOM', '16', 'CA', 'VAL', 'A', '2', '-8.413', '-9.647', '5.942', '1.00', '0.00', 'C']
['ATOM', '17', 'C', 'VAL', 'A', '2', '-6.929', '-9.430', '6.222', '1.00', '0.00', 'C']
['ATOM', '18', 'O', 'VAL', 'A', '2', '-6.535', '-8.405', '6.780', '1.00', '0.00', 'O']
['ATOM', '19', 'CB', 'VAL', 'A', '2', '-8.726', '-9.242', '4.477', '1.00', '0.00', 'C']
['ATOM', '20', 'CG1', 'VAL', 'A', '2', '-10.113', '-8.629', '4.369', '1.00', '0.00', 'C']
['ATOM', '21', 'CG2', 'VAL', 'A', '2', '-7.680', '-8.278', '3.930', '1.00', '0.00', 'C']
['ATOM', '22', 'H', 'VAL', 'A', '2', '-9.615', '-8.042', '6.625', '1.00', '0.00', 'H']
['ATOM', '23', 'HA', 'VAL', 'A', '2', '-8.639', '-10.697', '6.058', '1.00', '0.00', 'H']
['ATOM', '24', 'HB', 'VAL', 'A', '2', '-8.707', '-10.136', '3.868', '1.00', '0.00', 'H']
['ATOM', '25', 'HG11', 'VAL', 'A', '2', '-10.023', '-7.575', '4.144', '1.00', '0.00', 'H']
['ATOM', '26', 'HG12', 'VAL', 'A', '2', '-10.637', '-8.755', '5.305', '1.00', '0.00', 'H']
['ATOM', '27', 'HG13', 'VAL', 'A', '2', '-10.663', '-9.120', '3.579', '1.00', '0.00', 'H']
['ATOM', '28', 'HG21', 'VAL', 'A', '2', '-8.153', '-7.578', '3.258', '1.00', '0.00', 'H']
['ATOM', '29', 'HG22', 'VAL', 'A', '2', '-6.923', '-8.833', '3.397', '1.00', '0.00', 'H']
['ATOM', '30', 'HG23', 'VAL', 'A', '2', '-7.224', '-7.741', '4.748', '1.00', '0.00', 'H']
['ATOM', '31', 'N', 'GLN', 'A', '3', '-6.111', '-10.394', '5.816', '1.00', '0.00', 'N']
['ATOM', '32', 'CA', 'GLN', 'A', '3', '-4.671', '-10.299', '6.010', '1.00', '0.00', 'C']
['ATOM', '33', 'C', 'GLN', 'A', '3', '-3.943', '-10.501', '4.688', '1.00', '0.00', 'C']
['ATOM', '34', 'O', 'GLN', 'A', '3', '-4.487', '-11.084', '3.751', '1.00', '0.00', 'O']
['ATOM', '35', 'CB', 'GLN', 'A', '3', '-4.188', '-11.318', '7.041', '1.00', '0.00', 'C']
['ATOM', '36', 'CG', 'GLN', 'A', '3', '-3.043', '-10.801', '7.897', '1.00', '0.00', 'C']
['ATOM', '37', 'CD', 'GLN', 'A', '3', '-2.192', '-11.916', '8.471', '1.00', '0.00', 'C']
['ATOM', '38', 'OE1', 'GLN', 'A', '3', '-2.671', '-12.741', '9.250', '1.00', '0.00', 'O']
['ATOM', '39', 'NE2', 'GLN', 'A', '3', '-0.920', '-11.948', '8.089', '1.00', '0.00', 'N']
['ATOM', '40', 'H', 'GLN', 'A', '3', '-6.483', '-11.182', '5.368', '1.00', '0.00', 'H']
['ATOM', '41', 'HA', 'GLN', 'A', '3', '-4.455', '-9.306', '6.372', '1.00', '0.00', 'H']
['ATOM', '42', 'HB2', 'GLN', 'A', '3', '-5.011', '-11.574', '7.692', '1.00', '0.00', 'H']
['ATOM', '43', 'HB3', 'GLN', 'A', '3', '-3.854', '-12.206', '6.527', '1.00', '0.00', 'H']
['ATOM', '44', 'HG2', 'GLN', 'A', '3', '-2.416', '-10.167', '7.288', '1.00', '0.00', 'H']
['ATOM', '45', 'HG3', 'GLN', 'A', '3', '-3.453', '-10.223', '8.712', '1.00', '0.00', 'H']
['ATOM', '46', 'HE21', 'GLN', 'A', '3', '-0.608', '-11.259', '7.464', '1.00', '0.00', 'H']
['ATOM', '47', 'HE22', 'GLN', 'A', '3', '-0.347', '-12.658', '8.445', '1.00', '0.00', 'H']
['ATOM', '48', 'N', 'LEU', 'A', '4', '-2.718', '-9.995', '4.611', '1.00', '0.00', 'N']
['ATOM', '49', 'CA', 'LEU', 'A', '4', '-1.927', '-10.098', '3.393', '1.00', '0.00', 'C']
['ATOM', '50', 'C', 'LEU', 'A', '4', '-0.510', '-10.578', '3.692', '1.00', '0.00', 'C']
['ATOM', '51', 'O', 'LEU', 'A', '4', '-0.131', '-10.740', '4.852', '1.00', '0.00', 'O']
['ATOM', '52', 'CB', 'LEU', 'A', '4', '-1.890', '-8.740', '2.692', '1.00', '0.00', 'C']
['ATOM', '53', 'CG', 'LEU', 'A', '4', '-2.889', '-7.713', '3.234', '1.00', '0.00', 'C']
['ATOM', '54', 'CD1', 'LEU', 'A', '4', '-2.462', '-6.307', '2.865', '1.00', '0.00', 'C']
['ATOM', '55', 'CD2', 'LEU', 'A', '4', '-4.291', '-7.995', '2.715', '1.00', '0.00', 'C']

**3. Using the "TestFile.pdb", write out all lines that contain 'VAL' to a new file "TestFile_VAL.pdb" in "results" directory.**

In [18]:
# Open the file
fileHandle = open("data/TestFile.pdb")
 
# Read all the lines in the file (as separated by a newline character), and store them in the lines list
# Each element in this list corresponds to one line of the file!
lines = fileHandle.readlines()
 
# Close the file
fileHandle.close()
 
# Track the lines with VAL
linesToWrite = []
 
# Loop over the lines
for line in lines:
    if "VAL" in line:
        linesToWrite.append(line)

# Write out the lines
fileHandle = open("results/TextFile_VAL.pdb",'w')
for line in linesToWrite:
     fileHandle.write(line)
fileHandle.close()

**4. Read in the "TestFile.pdb" atom coordinate file, print out the title of the file, and find all atoms that have coordinates closer than 2 angstrom to the (x,y,z) coordinate (-8.7,-7.7,4.7). Print out the model number, residue number, atom name and atom serial for each.**

The model is indicated by:
```
MODEL        1
```
The atom coordinate information is: 
```
ATOM      1  N   ASP A   1     -10.341  -9.922   9.398  1.00  0.00           N
```
where column 1 is always ATOM, column 2 is the atom serial, the column 3 the atom name, column 4 the residue name, column 5 the chain code, column 6 the residue number, followed by the x, y and z coordinates in angstrom in columns 7, 8 and 9.
Note that the distance between two coordinates is calculated as the square root of (x1-x2)²+(y1-y2)²+(z1-z2)².

In [25]:
# Open the file
fileHandle = open("data/TestFile.pdb")
 
# Read all the lines in the file (as separated by a newline character), and store them in the lines list
# Each element in this list corresponds to one line of the file!
lines = fileHandle.readlines()
 
# Close the file
fileHandle.close()
 
# Initialise some information
searchCoordinate = (-8.7,-7.7,4.7)
modelNumber = None
 
# Loop over the lines, and do some basic string manipulations
for line in lines:
    line = line.strip()  # Remove starting and trailing spaces/tabs/newlines
    
    # Only do something if it's not an empty line
    if line:
        cols = line.split()   # Split the line by white spaces; depending on the format this could be commas, ...
    
        # Print off the title
        if cols[0] == 'TITLE':
            title = line.replace(cols[0],'')
            title = title.strip()
            print("The title is %s" % title)

        # Track the model number
        elif cols[0] == 'MODEL':
            modelNumber = int(cols[1])

        # For atom lines, calculate the distance
        elif cols[0] == 'ATOM':
            # Set some clear variable names and convert to the right type
            atomSerial = int(cols[1])
            atomName = cols[2]
            residueNumber = int(cols[5])
            x = float(cols[6])
            y = float(cols[7])
            z = float(cols[8])
            
            # Calculate the distance
            distance = ((x - searchCoordinate[0]) ** 2 + (y - searchCoordinate[1]) ** 2 + (z - searchCoordinate[2]) ** 2 ) ** 0.5
 
            if distance < 2.0:
                print("Model %i, residue %i, atom %s (serial %i) is %f away from reference." % (modelNumber,residueNumber,atomName,atomSerial,distance))

The title is SOLUTION STRUCTURE OF A NON-EXISTENT PEPTIDE
Model 1, residue 2, atom CA (serial 16) is 1.509551 away from reference.
Model 1, residue 2, atom CB (serial 19) is 0.060737 away from reference.
Model 1, residue 2, atom CG1 (serial 20) is 1.486960 away from reference.
Model 1, residue 2, atom CG2 (serial 21) is 1.569649 away from reference.
Model 1, residue 2, atom HB (serial 24) is 1.102567 away from reference.
Model 2, residue 2, atom CA (serial 16) is 1.919802 away from reference.
Model 2, residue 2, atom CB (serial 19) is 1.460313 away from reference.
Model 2, residue 2, atom CG1 (serial 20) is 0.893603 away from reference.
Model 2, residue 2, atom HG11 (serial 25) is 0.781374 away from reference.
Model 2, residue 2, atom HG12 (serial 26) is 1.570687 away from reference.
Model 2, residue 2, atom HG13 (serial 27) is 1.874323 away from reference.
Model 3, residue 2, atom CB (serial 19) is 1.558258 away from reference.
Model 3, residue 2, atom CG1 (serial 20) is 1.723128 away from reference.
Model 3, residue 2, atom CG2 (serial 21) is 1.402635 away from reference.
Model 3, residue 2, atom HG11 (serial 25) is 1.440517 away from reference.
Model 3, residue 2, atom HG21 (serial 28) is 1.547080 away from reference.
Model 3, residue 2, atom HG23 (serial 30) is 1.477349 away from reference.

## EXERCISE 6 - Functions

**1. Write a function to multiply all the numbers in a list.**

In [2]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total

print(multiply([8, 2, 3, -1, 7]))
print(multiply([1, -2, 0.2, 91, 5]))

-336
-182.0

**2. Write a function that computes the absolute of a number. Compare it to the built-in function `abs()`.**

In [4]:
def myAbsFunc(someValue):
    if someValue < 0:
        someValue = -someValue
    return someValue

print(abs(-10))
print(myAbsFunc(-10))

10
10

**3. Write a function that computes the mean of a list of numbers.**

In [5]:
def getMeanValue(valueList):
    # It is good practice to comment functions on top to describe what they do:
    """
    Calculate the mean (average) value from a list of values.
    Input: list of integers/floats
    Output: mean value
    """
    
    valueTotal = 0.0
    
    for value in valueList:
        valueTotal += value
    
    numberValues = len(valueList)
    
    return (valueTotal/numberValues)
 
meanValue = getMeanValue([4,6,77,3,67,54,6,5])
print(meanValue)
print(getMeanValue([3443,434,34343456,32434,34,34341,23]))

27.75
4916309.285714285

**4. Write a function `complementDNA` that produces the complement of a DNA sequence (converts A to T and C to G, and vice versa).**

In [9]:
def complementDNA(sequence):
    # Create dictionary with the complementary bases
    complement = {'A': 'T', 'C': 'G', 'G': 'C', 'T': 'A'} 
    # Separate sequence into bases
    bases = list(sequence)
    # Get the complement bases
    comp_bases = [complement[base] for base in bases]
    # Re-join bases into a sequence
    comp_sequence = ''.join(comp_bases)
    return comp_sequence
    
    
seq = "ATCGGCTTTCGAAATCGACATGACAAGATACAGATACAGATTTA"
print(complementDNA(seq))

TAGCCGAAAGCTTTAGCTGTACTGTTCTATGTCTATGTCTAAAT

**5. Add a second argument to `complementDNA` called `reverse`, which defaults to "False". Change the function so that it prints the reverse sequence when `reverse = True`.**
NOTE: In biology, you may want to work with the reverse-complement of a sequence if it contains an ORF on the reverse strand.

In [11]:
def complementDNA(sequence, reverse = False):
    # Create dictionary with the complementary bases
    complement = {'A': 'T', 'C': 'G', 'G': 'C', 'T': 'A'} 
    # Separate sequence into bases
    bases = list(sequence)
    # Get the complement bases
    comp_bases = [complement[base] for base in bases]
    # Re-join bases into a sequence
    comp_sequence = ''.join(comp_bases)
    
    # If reverse is True, get the reversed sequence
    if reverse:
        return comp_sequence[::-1]
    else:
        return comp_sequence
    
    
seq = "ATCGGCTTTCGAAATCGACATGACAAGATACAGATACAGATTTA"
print(complementDNA(seq))
print(complementDNA(seq,True))

TAGCCGAAAGCTTTAGCTGTACTGTTCTATGTCTATGTCTAAAT
TAAATCTGTATCTGTATCTTGTCATGTCGATTTCGAAAGCCGAT

**6. Write a function to that calculates the GC content of a sequence. Test it with the sequence "ATCGGCTTTC".**

In [13]:
def GCcontent(sequence):
    count = 0
    for n in sequence:
        if n in ["G","C"]:
            count += 1
    return count*100/len(sequence)

# Test function:
GCcontent("ATCGGCTTTC")

50.0

**7. Write a function that reads a fasta file and outputs a dictionary, which contains the name of the sequence in the keys and the sequence in the values.** Remember that sequences in fasta files are separated by ">". Test the function with the "TestFasta.fa" file.

In [38]:
def openfasta(filename):
    # Open the file
    fileHandle = open(filename)
    # Read all the lines in the file
    seqs = fileHandle.read().split(">") # Split file whenever a > is detected
    # Close the file
    fileHandle.close()
    # Loop over the lines
    seqdict = {}
    for seq in seqs:
        if seq: # Skip empty sequences
            splitted = seq.split("\n") # Split different lines of one same sequence
            # the first line is the name of the sequence, the rest is the sequence itself
            seqdict[splitted[0]] = "".join(splitted[1:])
    return seqdict

# Test function
seqs = openfasta("data/TestFasta.fa")
print(seqs)

{'sequence 1': 'AAACGGCTGACGATACGTTGGTCGATACGTGCAACTGACACGTACGACACTACGACATACG', 'sequence 2': 'CKKTMKLLIPRRAEDV'}

**8. Read the lyrics of Imagine by John Lennon, 1971 from the file in "imagine.txt". Split the text into words. Print the total number of words, and the number of distinct words. Calculate the frequency of each distinct word and store the result into a dictionary. Find the most frequent word longer than 3 characters in the song, print it with its frequency.**

In [45]:
# Read lyrics from file
fileHandle = open('data/imagine.txt')
lyrics = fileHandle.readlines()
fileHandle.close()
# Split into words
words = []
for l in lyrics:
    words.extend(l.lower().strip().split()) # Convert all to lowercase to be case-insensitive
n_words = len(words)
n_diff_words = len(set(words))
print("Imagine contains %i words, %i of them are different." % (n_words, n_diff_words))

#Calculate the frequency of each word
word_dict = {}
for w in set(words):
    word_dict[w] = words.count(w)

# Find most frequent word
most_frequent = 0
for r in word_dict:
    if (word_dict[r] > most_frequent) and (len(r) > 3):
        most_frequent = word_dict[r]
        most_frequent_word = r
print(str("%s is the most frequent word being used %i times." % (most_frequent_word, most_frequent)))

Imagin contains 133 words, 69 of them are different.
imagine is the most frequent word being used 6 times.